 *{   margin: 0;
      display: flex;
      justify-content: center;
      text-align: center;
      height: 100vh;
      background-color: rgb(52, 49, 49);
    }
    #display {
      width: 100%;
      padding: 20px;
      font-size: 5rem;
      text-align: left;
      border: none;
      background-color: rgb(46, 45, 45);
      color: #ffff;
      /* caret-color: transparent; */
    }
    input:focus{
      outline: 0;
      box-shadow: none;
    }
    .calc {
      background-color: rgb(42, 41, 41);
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 15px;
      max-width: 500px;
      overflow: hidden;
      border: 1px solid black;
    }
    .keys {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      padding: 5px;
    }
    button {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      border: none;
      background-color: rgb(52, 49, 49);
      cursor: pointer;
      color: white;
      font-size: 3rem;
      font-weight: bold;
    }
    button:hover {
      background-color: rgb(116, 112, 112);
    }
    button:active {
      background-color: rgb(116, 112, 112);
    }
    #operation {
      background-color: hsl(35, 100%, 55%);
    }
    #operation:hover {
      background-color: hsl(35, 100%, 65%);
    }
    #operation:active {
      background-color: hsl(35, 100%, 75%);
    }