:root{
  --bg:#0f172a;
  --card:#020617;
  --text:#e5e7eb;
  --accent:#22d3ee;
}

.light{
  --bg:#f9fafb;
  --card:#ffffff;
  --text:#020617;
  --accent:#6366f1;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}

body{
  background:var(--bg);
  color:var(--text);
  scroll-behavior:smooth;
}

/* NAVBAR */
nav{
  position:fixed;
  top:0;
  width:100%;
  background:var(--card);
  display:flex;
  justify-content:space-between;
  padding:15px 30px;
  z-index:1000;
}

nav a{
  color:var(--text);
  text-decoration:none;
  margin:0 10px;
  font-weight:600;
}

nav a:hover{
  color:var(--accent);
}

.toggle{
  cursor:pointer;
  font-size:18px;
}

/* HERO */
.hero{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  background:linear-gradient(135deg,#6366f1,#22d3ee);
  color:white;
}

.hero h1{font-size:3rem;}
.hero p{margin:15px 0 25px;font-size:1.2rem;}

.btn{
  padding:12px 26px;
  background:#020617;
  color:white;
  border-radius:30px;
  text-decoration:none;
  display:inline-block;
  margin:5px;
  transition:.3s;
}

.btn:hover{
  background:white;
  color:#020617;
}

/* SECTIONS */
section{
  max-width:1100px;
  margin:auto;
  padding:90px 20px;
}

h2{
  text-align:center;
  margin-bottom:40px;
  color:var(--accent);
}

.card{
  background:var(--card);
  padding:30px;
  border-radius:18px;
  box-shadow:0 15px 30px rgba(0,0,0,.4);
  transition:.4s;
}

.card:hover{
  transform:translateY(-10px);
}

/* SKILLS */
.skills{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
  gap:20px;
}

.skill{
  background:var(--card);
  padding:18px;
  text-align:center;
  border-radius:15px;
  transition:.3s;
}

.skill:hover{
  background:var(--accent);
  color:white;
}

/* PROJECT */
.project a{
  color:var(--accent);
  font-weight:bold;
  text-decoration:none;
}


/* CONTACT */
.contact{text-align:center;}

/* ANIMATIONS */
.left{opacity:0;transform:translateX(-80px);transition:1s;}
.right{opacity:0;transform:translateX(80px);transition:1s;}
.bottom{opacity:0;transform:translateY(80px);transition:1s;}

.show{opacity:1;transform:translate(0);}

/* SCROLL TOP */
#topBtn{
  position:fixed;
  bottom:30px;
  right:30px;
  padding:12px 15px;
  border-radius:50%;
  border:none;
  background:var(--accent);
  color:white;
  cursor:pointer;
  display:none;
}

/* RESPONSIVE */
@media(max-width:600px){
  .hero h1{font-size:2.2rem;}
}