
  * {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
  }

  body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #43cea2, #185a9d);
  }

  .todo-box {
    background: white;
    width: 380px;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 25px 40px rgba(0,0,0,0.25);
    animation: fadeIn 0.6s ease;
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
  }

  h2 {
    text-align: center;
    color: #0b5196;
    margin-bottom: 10px;
    margin-bottom: 25px;
  }

  .message {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
    color: #28a745;
    display: none;
  }

  .input-area {
    display: flex;
    gap: 8px;
  }

  input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
  }

  input[type="text"]:focus {
    border-color: #43cea2;
  }

  button {
    padding: 10px 16px;
    background: #43cea2;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }

  button:hover {
    background: #36b896;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }

  li {
    background: #f3f9f8;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
  }

  li:hover {
    background: #e6f4f1;
  }

  .task {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
  }

  .completed {
    text-decoration: line-through;
    color: gray;
  }

  .delete {
    background: #ff5c5c;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
    transition: 0.3s;
  }

  .delete:hover {
    background: #e04444;
  }
   @media (max-width: 480px) {
    h2 {
      font-size: 1.5rem;
    }

    .input-area {
      flex-direction: column;
    }

    button {
      width: 100%;
    }

    .delete {
      padding: 6px 8px;
    }
  }

