@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto-Regular", sans-serif;
}
.second{
  padding-top: 120px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  
  .band{
    h2,h4,p{
      text-align: center;
      padding: 15px 0px 15px 0px;
    }
    h4{
      color:gray
    }
    p{
      text-align:justify;
       text-justify: inter-word;
       padding-bottom: 30px;
      }
    }
.bandimg{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 100px;
  #subimage{
    flex-basis: 30%;
    #name{
      text-align: center;
      padding:50px 0px 30px 0px;
    }
    img{
      height: 250px;
      width: 250px;
    }
   
  }
}
.bandimg{
  #subimage:hover{
      background-color: rgb(234, 233, 233);
    }

  }
}
/* media */
@media all and (max-width: 576px) {
  .second{
    width:100%;
    padding-top:0px;
 
  .bandimg{
    display: block;
    #sunimge{
      flex-wrap: wrap;
    }
  }
}
}

