@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto-Regular";
}

.map {
  padding-top: 120px;
  .top {
    h2,
    h3 {
      text-align: center;
      padding-top: 20px;
    }
    h3 {
      color: gray;
    }
  }
  .both {
    margin-top: 30px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    .inner {
      h3 {
        color: gray;
      }
    }
    .inner {
      flex-basis: 50%;
      nav {
        position: relative;
        i{
            color: red;
            position: absolute;
            top:15px;
            right: 150px;
            
          }
        }
        input {
          line-height: 2;
          padding-bottom: 20px;
          margin-bottom: 30px;
        }
        button {
          margin: 30px 0px 30px 25px;
          background-color: black;
          color: white;
          font-size: 20px;
          position: relative;
          left: 250px;
        }
      }
    }
  }
  .photo {
    img {
      width: 100%;
    }
  }

  .logo {
    display: inline;
    text-align: center;
    color: grey;
    h3 {
      padding-top: 20px;
    }
  }
/* media */
@media all and (max-width: 576px) {
  .map {
    width: 100%;
    padding-top: 0px;
    .both {
      display: block;
    }
    .inner {
      padding-bottom: 30px;
      flex-wrap: wrap;
      nav {
        input,
        i {
          display: block;
        }
        #pinki{
          
            display: block;
          }
        }
        button {
          text-align: left;
          font-size:16px;
          left:100px;
        }
      }
    }
  }

