@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto-Regular", sans-serif;
}

:root {
  --bcolor: #000000;
  --wcolor: #ffffff;
}
/* menu */
#tour {
  #whole {
    background-color: var(--bcolor);
  }
  #losangles {
    background-image: url("/images/losangels.jpg");
    background-size: cover;
    width: 1550px;
    height: 882px;
    .pic{
      position: absolute;
      bottom: 50px;
      top: 750px;
      right: 450px;
      color: white;
     line-height: 2;
      h2{
        text-align: center;
      }
  }


  .menu {
    position: sticky;
    top: 0;
    list-style: none;
    background-color: var(--bcolor);
    margin: 0;
    padding: 0;
    display: flex;
  }

  .menu > li {
    position: relative;
  }

  .menu > li > a {
    display: inline-block;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
  }

  .menu > li > a:hover {
    background-color: grey;
    color: var(--bcolor);
  }

  .submenu {
    display: none;
    position: absolute;
    background-color: var(--bcolor);
    top: 100%;
    left: 0;
    min-width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
  }

  .search {
    padding-right: 1120px;
  }
  .search:hover {
    background-color: red;
    color: white;
  }

  .has-submenu:hover .submenu {
    display: block;
  }

  .submenu li a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
  }

  .submenu li a:hover {
    background-color: grey;
    color: var(--bcolor);
  }
}
}
/* media */
/* tour */
@media all and (max-width: 576px) {
  #tour {
    width: 100%;
    #losangles {
      background-size: cover;
      width: 100%;
      background-repeat: no-repeat;
      background-position:center;
    }
    .menu {
      display: block;
      li a{
        display: block;
      }
    }
    
  }
}
