@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto-Regular", sans-serif;
}
.whole {
  background-color: black;
  padding-top: 120px;
  .tdates {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    .tourdates {
      text-align: center;
      h2 {
        text-align: center;
        padding-bottom: 30px;
      }
      #pin {
        color: rgb(105, 102, 102);
        text-align: center;
        padding-bottom: 30px;
      }
    }
    .sold {
      padding-bottom: 30px;
      h3 {
        padding: 10px 0px 10px 0px;
        background-color: white;
        color: gray;
        border: 1px solid gray;
        padding-right: 35px;
        span {
          display: inline;
          padding: 0px 10px 0 10px;
          background-color: red;
          color: white;
        }
        b {
          position: relative;
          left: 820px;
          display: inline;
          border-radius: 50%;
          padding: 5px;
          background-color: black;
          color: white;
        }
      }
    }
  }
}
.three {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
  .booking {
    background-color: white;
    color: black;
    flex-basis: 25%;
    padding-bottom: 20px;
    img {
      height: 300px;
      width: 300px;
    }
    img:hover {
      opacity: 0.6;
    }
    h3 {
      padding: 20px 0px 20px 10px;
      line-height: normal;
    }
    #over {
      background-color: black;
      color: white;
      display: inline;
      padding: 5px;
    }
    #over:hover {
      background-color: rgb(189, 182, 182);
      color: black;
    }
  }
}
/* media */
@media all and (max-width: 576px) {
  .whole {
    width: 100%;
    padding-top: 0px;
    .tdates {
      width: 100%;
    }
    .tourdates {
      text-align: left;
      h2 {
        text-align: left;
      }
    }
    .solid{
      h3{
        b{
          position: relative;
          left:100px;
      }
      }
    }
  }

  .three {
    display: block;
    .booking{
        img{
            width:100%;
        }
    }
  }
}
